# Adapted from https://github.com/golangci/golangci-lint-action/blob/b56f6f529003f1c81d4d759be6bd5f10bf9a0fa0/README.md#how-to-use

name: golangci-lint
on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["**"] # all branches
permissions:
  contents: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          # NOTE: Keep this in sync with the version from go.mod
          go-version: "1.24"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.1
